<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
 
   <servlet>
      <servlet-name>Solve</servlet-name>
      <servlet-class>SolveServlet</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>GetLevel</servlet-name>
      <servlet-class>GetLevelServlet</servlet-class>
   </servlet>
 
	<servlet>
	  <servlet-name>SetScore</servlet-name>
	  <servlet-class>SetScoreServlet</servlet-class>
	</servlet>

	<servlet>
	  <servlet-name>TopLevelSolvers</servlet-name>
	  <servlet-class>TopSolversForLevelServlet</servlet-class>
	</servlet>
   <!-- Note: All <servlet> elements MUST be grouped together and
         placed IN FRONT of the <servlet-mapping> elements -->
 
   <servlet-mapping>
      <servlet-name>Solve</servlet-name>
      <url-pattern>/solve</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>GetLevel</servlet-name>
      <url-pattern>/getlevel</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>SetScore</servlet-name>
      <url-pattern>/setscore</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>TopLevelSolvers</servlet-name>
      <url-pattern>/toplevelsolvers</url-pattern>
   </servlet-mapping>
</web-app>